<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="assets/img/AdminLTELogo.png" class="img-circle elevation-2" alt="User Image">
      </div>
      <div class="info">
        <a class="d-block">Md Inzamamul Haque</a>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-header">PAYROLL</li>
         <!-- <li class="nav-item">
            <a (click)="goToEmployee()" class="nav-link">
              <i class="nav-icon far fa-circle text-info"></i>
              <p class="text">Employee</p>
            </a>
          </li>
          <li class="nav-item">
            <a (click)="goToSalaryRank()" class="nav-link">
              <i class="nav-icon far fa-circle text-info"></i>
              <p>Salary Rank</p>
            </a>
          </li>
          <li class="nav-item">
            <a (click)="goToBank()" class="nav-link">
              <i class="nav-icon far fa-circle text-info"></i>
              <p>Bank</p>
            </a>
          </li>
          <li class="nav-item">
            <a (click)="goToAccount()" class="nav-link">
              <i class="nav-icon far fa-circle text-info"></i>
              <p>Employee Account</p>
            </a>
          </li>
         <li class="nav-item">
            <a (click)="goToCompany()" class="nav-link">
              <i class="nav-icon far fa-circle text-info"></i>
              <p>Company Account</p>
            </a>
          </li>-->
        <li class="nav-item">
          <a (click)="employeeList()" class="nav-link">
            <i class="nav-icon far fa-circle text-info"></i>
            <p class="text">Employee List</p>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="bankList()" class="nav-link">
            <i class="nav-icon far fa-circle text-info"></i>
            <p class="text">Bank List</p>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="salaryRankList()" class="nav-link">
            <i class="nav-icon far fa-circle text-info"></i>
            <p class="text">Salary Rank List</p>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="bankAccountList()" class="nav-link">
            <i class="nav-icon far fa-circle text-info"></i>
            <p class="text">Employee Account List</p>
          </a>
        </li>
        <li class="nav-item">
          <a (click)="goTobankAccountList()" class="nav-link">
            <i class="nav-icon far fa-circle text-info"></i>
            <p class="text">Company Account List</p>
          </a>
        </li>
        <li class="nav-item">
            <a (click)="setBasicAmount()" class="nav-link">
              <i class="nav-icon far fa-circle text-danger"></i>
              <p>Set Basic Amount</p>
            </a>
          </li>
        <li class="nav-item">
            <a (click)="sendMoney()" class="nav-link">
              <i class="nav-icon far fa-circle text-danger"></i>
              <p>Send Money</p>
            </a>
          </li>
        <!--  <li class="nav-header">VIEW DATA</li>
          <li class="nav-item">
            <a (click)="employeeList()" class="nav-link">
              <i class="nav-icon far fa-circle text-danger"></i>
              <p class="text">Employee List</p>
            </a>
          </li>
        <li class="nav-item">
            <a (click)="bankList()" class="nav-link">
              <i class="nav-icon far fa-circle text-danger"></i>
              <p class="text">Bank List</p>
            </a>
          </li>
        <li class="nav-item">
            <a (click)="salaryRankList()" class="nav-link">
              <i class="nav-icon far fa-circle text-danger"></i>
              <p class="text">Salary Rank List</p>
            </a>
          </li>
        <li class="nav-item">
            <a (click)="bankAccountList()" class="nav-link">
              <i class="nav-icon far fa-circle text-danger"></i>
              <p class="text">Employee Account List</p>
            </a>
          </li>
        <li class="nav-item">
            <a (click)="goTobankAccountList()" class="nav-link">
              <i class="nav-icon far fa-circle text-danger"></i>
              <p class="text">Company Account List</p>
            </a>
          </li>-->
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  </div>
  <!-- /.sidebar -->
</aside>
