<section class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Company Bank Account List</h3>
          <h3 (click)="goToCompany()" style="display: flex; justify-content: flex-end">Create New Account <mat-icon>add_task</mat-icon></h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example1" class="table table-bordered table-striped">
            <thead>
            <tr>
              <th>SL.</th>
              <th>Account Name</th>
              <th>Account No</th>
              <th>Account Type</th>
              <th>Current Balance</th>
              <th>Edit</th>
            </tr>
            </thead>
            <tbody *ngFor="let item of bankAccountList; let i = index">
            <tr>
              <td>{{i+1}}</td>
              <td>{{item.accountName}}</td>
              <td>{{item.accountNo}}</td>
              <td>{{item.accountType}}</td>
              <td>{{item.currentBalance}}</td>
              <td (click)="updateBankAmount(item.id)" ><mat-icon>input</mat-icon></td>
            </tr>
            </tbody>
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
<!-- /.content-wrapper -->


